/* #answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}
#answer-box2 {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
} */