:root{
    --text-color1:white;
    --text-color2:gold;
    --text-color3:pink;
}
#back1 {
    background-image: url(../images/images-for-website/portal.jpg);
    /* background-color: red; */
    width: 100%;
}
.ally-text-color{
    color:var(--text-color1)
}
.instructions-text-color{
    color:var(--text-color1)
}
.create-btn-color{
    background-color: black;
    color:white;
    outline: white;
    margin:35px;
}
.create-btn-color:hover{
    background-color: cyan;
    color:black;
    outline: black;
    outline-width: 50px;
}
.boss1-text-color{
    color:var(--text-color2)
}
.boss2-text-color{
    color:var(--text-color3)
}
.battleBold{
    font-weight: bold;
}
#back2 {
    background-image: url(../images/images-for-website/backboss1.jpg);
    width: 100%;
}
#back3 {
    background-image: url(../images/images-for-website/backboss2.jpg);
    width: 100%;
}
.box{
    background-color: rgba(9, 9, 9, 0.5);
    margin:50px;
}
.space{
    margin:auto;
    padding:100px;
    margin-top:200px;
}
.space2{
    padding-top:50px;
}