:root{
    --text-color1:white;
    --text-color2:gold;
    --text-color3:pink;
}
#back1 {
    background-image: url(../images/images-for-website/portal.jpg);
    /* background-color: red; */
    width: 100%;
    height: 1000px;
}
.ally-text-color{
    color:var(--text-color1)
}
.boss1-text-color{
    color:var(--text-color2)
}
.boss2-text-color{
    color:var(--text-color3)
}
#back2 {
    background-image: url(../images/images-for-website/backboss1.jpg);
    width: 100%;
    height: 1000px;
}
#back3 {
    background-image: url(../images/images-for-website/backboss2.jpg);
    width: 100%;
    height: 1000px;
}